container{
    max-width: 1280px;
    margin:0 auto;
    border: solid black 1px;
}
a:link {
    text-decoration: none;
    color: black;
}
#timer{
    margin-left:2em;
}
#btn{
	width: 40%;
	margin-left: 30%;
	margin-right: 30%
}
#flag{
    width: 50%;
    height: 900px;
    float:left;
}
#usflag{
    width: 50%;
    height:900px;
    float: right;
}
#flagtxt{
    font-size: 3em;
    text-align: center;
}
p{
	font-size:2.3vw;
}
